.selection-highlight, .birdseye-selection {
    -fx-arc-height: 7;
    -fx-arc-width: 7;
    -fx-stroke: #00FF00;
    -fx-stroke-width: 2;
    -fx-fill: transparent;
}
.selection-highlight-normal {
    -fx-fill: transparent;
}
.selection-highlight-delete {
    -fx-fill: grey;
}
