.java-error {
    -fx-font-family: "Source Sans Pro";
    -fx-fill: white;
}
.java-error-popup {
    /* background color for error popup */
    -fx-background-color: #2b2b2b;
    /* TextFlow seems to have vertical padding built-in, so we mainly add horizontal padding: */
    -fx-padding: 2px 5px 2px 5px;
    -fx-background-radius: 3px;
    /*-fx-effect: dropshadow(one-pass-box, grey, 2, 2, 2, 2);*/
}